<section>
  <div class="row mt-5 ">
            <div class="col-md-2" style="width: 200px;"></div>
            <div class=" col-md-10 " style="padding-left: 99px;">
        <div class="">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Roll No</th>
              <th scope="col"> Name </th>
              <th scope="col">Actions</th>
              <th scope="col"><a href="/teacher/add-students" class="btn btn-primary ml-auto">Add Student</a></th>

            </tr>
          </thead>
          <tbody>
            {{# each students}}
            <tr>
              <th scope="row">{{this.rollno}}</th>
              <td><a href="/teacher/students/{{this._id}}">{{this.name}}</a></td>
              <td><a href="/teacher/edit-students/{{this._id}}" class="btn btn-primary">Edit</a>
                <a href="/teacher/delete-students/{{this._id}}" class="btn btn-danger"
                  onClick=" return confirm('Are you sure to delete{{this.name}}')">Delete</a>
              </td>
              <td> </td>
            </tr>
            {{/each}}

          </tbody>
        </table>
      </div>
      </div>
    </div>
  
</section>