<section>
    <div class="row ">
        <div class="col-md-2" style="width: 200px;"></div>
        <div class=" col-md-10 " style="padding-left: 99px;">
            <h2 class="text-center"> Anouncements</h2>

            <form action="/teacher_anouncements" method="post" enctype="multipart/form-data"
                class="border border-secondary">
                <div class="form-group pl-2  ">
                    <label for="usr">Message:</label>
                    <input type="text" class="form-control border border-secondary" id="usr" name="message"
                        value="{{details.message}}" readonly>
                </div>
                <div class="form-group pl-2">
                    <label for="comment">Description:</label><br>
                    <input type="text" class="form-control border border-secondary" id="usr" name="message"
                        value="{{details.description}}" readonly>
                </div>

            </form>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-2" style="width: 200px;"></div>
        <div class=" col-md-4 pt-3" style="padding-left: 99px;">
            <img style="width: 25rem;height:18rem" src="/images/{{details._id}}{{details.ImgName}}.jpg" id="imageFile">
        </div>
        <div class=" col-md-4 pt-3" style="padding-left: 99px;">
            {{!-- <video controls loop style="width:25rem;height:18rem" id="videopic">
                <source src="/video/{{details._id}}{{details.filename}}.mp4">
            </video>--}}
            <div class="embed-responsive embed-responsive-4by3 ml-1" style="width:25rem;height:18rem;">
                <iframe class="embed-responsive-item" src="/video/{{details._id}}{{details.filename}}.mp4"></iframe>
            </div>

        </div>
    </div>
  <div class="row ">
        <div class="col-md-2" style="width: 200px;"></div>
        <div class=" col-md-4 pt-3" style="padding-left: 99px;">
            <div class="embed-responsive embed-responsive-4by3 border border-secondary "
                style="width:25rem;height:18rem;">
                <iframe class="embed-responsive-item"
                    src="/student/anouncementView/{{details._id}}/{{details.docName}}">{{details.docName}}</iframe>
            </div>
        </div>
    </div>
</section>